{% extends 'base.html' %}
{% load static %}
{% block title %}
  Чат с {{ recipient.username }}
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/global_chat.css' %}">
  <h2>Чат с {{ recipient.username }}:</h2>
  <div id="chat-box">
    {% for message in messages %}
      <div class="message">
       <p class="{% if message.author == request.user %}own-message{% endif %}">
          <small class="text-muted">{{ message.created_at|date:"Y-m-d H:i" }}</small><br>
          <strong>
            <a href="{% url 'profile' message.author.id %}" style="text-decoration: none">{{ message.author.username }}</a>
          </strong>: {{ message.content }}
        </p>
      </div>
    {% endfor %}
  </div>
  <form id="message-form" method="post" action="{% url 'private_chat' recipient.id %}">
    {% csrf_token %}
    <textarea id="message-input" name="content" rows="3" cols="40" placeholder="Введите ваше сообщение..."></textarea><br>
    <button type="submit">Отправить</button>
  </form>
  <script src="{% static 'js/private_chat.js' %}"></script>
{% endblock %}
