{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Обфрендься тут!</h1>
    <br>
    <p>Приветствую! Это мой проект социальной сети. Для того, чтобы пользоваться всеми задуманными функциями необходимо будет войти или зарегестрироваться.</p>
    <div class="content">
        {% if user.is_authenticated %}
            <h2>Последние посты:</h2>
            <div class="post">
                <h3>Так, ну введу вас в курс дела!</h3>
                <p>В общем вы попали в проект социальной сети. Один мой друг спросил, а при чём тут монстр, который изображён на логотипе?</p>
                <p>Я придумал ответ, который, разумеется, не всех устроит, ибо притянут немного за уши.</p>
                <p>Но всё же, основная цель этой соц.сети - это поиск друзей. В поиске друзей мы, будто, отправляем на поиск свои социальные тентакли.</p>
            </div>
            <div class="post">
                <h3>Обновление 0.1</h3>
                <p>Рад всех приветствовать. Я начинаю, по мере возможности, прикручивать разный фунционал. Сейчас стали доступны личные сообщения и глобальный чат.</p>
                <p>Личные сообщения пока доступны через профиль того, кому вы хотите написать. Будет отдельная кнопка.</p>
                <p>Чтобы зайти в профиль нужного собеседника - можно кликнуть по его нику на странице глобального чата.</p>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Войти</a><br>
            <br>
            <h2>Или</h2>
            <br>
            <a href="{% url 'register' %}" class="btn btn-secondary btn-lg">Регистрация</a>
        {% endif %}
    </div>
{% endblock %}
