{% extends 'base.html' %}

{% block title %}
    Политика конфиденциальности
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Политика конфиденциальности</h1>
        <p>
            Наша компания обязуется защищать вашу конфиденциальность. Мы ценим доверие, которое вы оказываете нам, предоставляя свои персональные данные, и обязуемся использовать их исключительно в соответствии с законодательством о защите данных.
        </p>
        <p>
            В случае вопросов по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами через <a href="mailto:support@obfrendos.ru">support@obfrendos.ru</a>.
        </p>
        <p>&copy; 2024 Obfrendos. Все права защищены.</p>
    </div>
{% endblock %}