{% extends 'base.html' %}

{% block title %}
    Условия использования
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Условия использования</h1>
        <p>
            Пользуясь нашими услугами, вы соглашаетесь с нашими условиями использования. Пожалуйста, внимательно ознакомьтесь с ними, прежде чем продолжить использование сайта. Мы стараемся предоставить вам лучший сервис и обеспечить ваше удобство.
        </p>
        <p>
            В случае вопросов по поводу наших условий использования, пожалуйста, свяжитесь с нами через <a href="mailto:support@obfrendos.ru">support@obfrendos.ru</a>.
        </p>
        <p>&copy; 2024 Obfrendos. Все права защищены.</p>
    </div>
{% endblock %}